/* Default Rules */
*, *:after, *:before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

iframe { border: none }
body { -webkit-font-smoothing: antialiased; background: #EEEEEE } 
h2 { font-family: "Francois One"; text-transform: uppercase; color: #C57FC1; text-align: center; font-weight: bold }
.logo{
  margin-top: 10px;
}
/* end Default Rules */
.title { font-size: 40px; color: #000; }


/*Component Avatar*/
.avatar { boder-radius: 50%;}
.avatar .avatar__name { font-size:20px;}
.avatar:hover {
  background: #000;
}

/*Menu*/
.menu {
  line-height: 1;
}
.menu__item {
	display: block;
	margin: 1em 0;
}

.menu__link {
	font-size: 1.05em;
	font-weight: bold;
	display: block;
	padding: 1em;
	cursor: pointer;
	  color: #fff;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.menu__link:hover,
.menu__link:focus {
	outline: none;
}

.menu__list {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}
.menu--conselho a{
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.15em;
  
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

.menu--conselho a:hover:after { 
  width: 100%; 
  left: 0; 
}
.menu .menu--conselho .menu__link {
  position: relative;
  display: block;
  margin: 0 1.5em;
	padding: 0.75em 0;
  text-align: center;
  color: #fff;
  -webkit-transition: color 0.3s;
	transition: color 0.3s;
	
}
.menu--conselho .menu__link:hover,
.menu--conselho .menu__link:focus {
  color: #fff;
}
.menu--conselho .menu__item--current .menu__link {
  color: #FFF;
}
.menu--conselho  a:after {
	background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.menu--conselho a:hover:after{
   width: 100%; 
    left: 0; 
}
.menu--conselho .menu__item--current .menu__link::before {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	-webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.text-uppercase { text-transform: uppercase; }

.iframe-width iframe { width: 90%; margin: 0 auto; display: block } 

#header { background: #C57FC1; color: white; padding: .4em 0 }
#header .nav a { color: white;  font-family: 'Francois One'; display: inline-block; margin-left: 1em; padding: .8em; }

#player, #player_wrapper { position: relative; margin: 0 auto; max-width: 560px; width: 100% !important; z-index: 9999; display: block; min-height: 300px; height: auto}

.logo a { display: inline-block }
.logo a:hover { background: rgba(255,255,255,0.2) !important; }

.button { 
  background:#C57FC1; 
  color: white; 
  font-family: "Francois One"; 
  font-weight: bold; 
  font-size: 1.4em; 
  text-transform: uppercase;
  border-radius: 6px; 
}

.button:hover {
  background: white; 
  color: #C57FC1; 
}

.link-btn {
  background: #B664B2;
  color: white;
  font-size: 1em;
  margin-top: 3.5%;
}

#header .nav a {
  opacity: .5
}

#header .nav a:hover {
  background: rgba(255,255,255,0.2);
  opacity: 1
}


.link-btn:hover { 
  color: #C57FC1;
  background: white;
}


#main-content { 
  position: relative;
  background: url('../images/main-content.png') no-repeat center bottom; 
  background-size: 100%;
  overflow: hidden;
}

#main-content h2 { margin-top: 2em; z-index: 90; position: relative }
 
#inner-content p { font-size: 1.1em }

.element { position: absolute; width: 100px; bottom: 0% }
.cloud { top: 12%; z-index: 0 }
.cloud-left, .cloud-left2 { top: 8% }

.cloud-left { right: 10% }
.cloud-right { right: 10% }

.cloud-left { 
  -webkit-animation: move-right 160s infinite;
  animation: move-right 160s infinite;
}



.cloud-left2 { 
  -webkit-animation: move-right 280s infinite;
  animation: move-right 280s infinite;
}

 





.cloud-right2 { 
  -webkit-animation: move-left 160s infinite;
  animation: move-left 160s infinite;
}

 

.cloud-right { 
  -webkit-animation: move-left 280s infinite;
  animation: move-left 280s infinite;
}

.move-bike {
  -webkit-animation: move-left 30s infinite;
  animation: move-left 30s infinite;
  bottom: 7px;
  z-index: 1;
}

.move-bike-left {
  -webkit-animation: move-right 30s infinite;
  animation: move-right 30s infinite;
}

.move-right { 
  -webkit-animation: move-right 15s infinite;
  animation: move-right 15s infinite;
}



.move-left {
  -webkit-animation: move-left 20s infinite;
  animation: move-left 20s infinite;
  z-index: 2
}


.animate { display: inline-block; position: relative; }
.animate-5 { -webkit-animation: fromTop .2s linear; animation: fromTop .2s linear; }
.animate-10 { -webkit-animation: fromTop .8s linear; animation: fromTop .8s linear; }
.animate-15 { -webkit-animation: fromTop 1.4s linear; animation: fromTop 1.4s linear; }






@-webkit-keyframes move-left { 
    0% { right: 0% }
    100% { right: 100% } 
}



@keyframes move-left { 
    0% { right: 0% }
    100% { right: 100% }
}







@-webkit-keyframes move-right { 
    0% { left: 0% }
    100% { left: 100% } 
}




@keyframes move-right { 
    0% { left: 0% }
    100% { left: 100% }
}



@-webkit-keyframes fromTop { 
    0% { top: -30px; opacity: 0 }
    70% { opacity: 0.1 }
    100% { top: 0px; opacity: 1  }
}






@keyframes fromTop { 
    0% { top: -30px; opacity: 0 }
    70% { opacity: 0.1 }
    100% { top: 0px; opacity: 1  }
}





