
iframe { border: none }
body { -webkit-font-smoothing: antialiased; background: #EEEEEE } 
h2 { font-family: "Francois One"; text-transform: uppercase; color: #C57FC1; text-align: center; font-weight: bold }

.text-uppercase { text-transform: uppercase; }

#header { background: #C57FC1; color: white; padding: .4em 0 }
#header .nav a { color: white;  font-family: 'Francois One'; display: inline-block; margin-left: 1em; padding: .8em; }

.logo a { display: inline-block }
.logo a:hover { background: rgba(255,255,255,0.2) !important; }

.button { 
  background:#C57FC1; 
  color: white; 
  font-family: "Francois One"; 
  font-weight: bold; 
  font-size: 1.4em; 
  text-transform: uppercase;
  border-radius: 6px; 
}

.button:hover {
  background: white; 
  color: #C57FC1; 
}

.link-btn {
  background: #B664B2;
  color: white;
  font-size: 1em;
  margin-top: 3.5%;
}

#header .nav a {
  opacity: .5
}

#header .nav a:hover {
  background: rgba(255,255,255,0.2);
  opacity: 1
}


.link-btn:hover { 
  color: #C57FC1;
  background: white;
}


#main-content { 
  position: relative;
  background: url('../images/main-content.png') no-repeat center bottom; 
  background-size: 100%;
  height: auto !important;
  overflow: hidden;
}

#main-content h2 { margin-top: 2em; z-index: 90; position: relative }
 
#inner-content p { font-size: 1.1em }

.element { position: absolute; width: 100px; bottom: 0% }
.cloud { top: 12%; z-index: 0 }
.cloud-left, .cloud-left2 { top: 8% }

.cloud-left { right: 10% }
.cloud-right { right: 10% }

.cloud-left { 
  -webkit-animation: move-right 160s infinite;
  animation: move-right 160s infinite;
}



.cloud-left2 { 
  -webkit-animation: move-right 280s infinite;
  animation: move-right 280s infinite;
}

 





.cloud-right2 { 
  -webkit-animation: move-left 160s infinite;
  animation: move-left 160s infinite;
}

 

.cloud-right { 
  -webkit-animation: move-left 280s infinite;
  animation: move-left 280s infinite;
}

.move-bike {
  -webkit-animation: move-left 30s infinite;
  animation: move-left 30s infinite;
  bottom: 7px;
  z-index: 1;
}

.move-bike-left {
  -webkit-animation: move-right 30s infinite;
  animation: move-right 30s infinite;
}

.move-right { 
  -webkit-animation: move-right 15s infinite;
  animation: move-right 15s infinite;
}



.move-left {
  -webkit-animation: move-left 20s infinite;
  animation: move-left 20s infinite;
  z-index: 2
}


.animate { display: inline-block; position: relative; }
.animate-5 { -webkit-animation: fromTop .2s linear; animation: fromTop .2s linear; }
.animate-10 { -webkit-animation: fromTop .8s linear; animation: fromTop .8s linear; }
.animate-15 { -webkit-animation: fromTop 1.4s linear; animation: fromTop 1.4s linear; }






@-webkit-keyframes move-left { 
    0% { right: 0% }
    100% { right: 100% } 
}



@keyframes move-left { 
    0% { right: 0% }
    100% { right: 100% }
}







@-webkit-keyframes move-right { 
    0% { left: 0% }
    100% { left: 100% } 
}




@keyframes move-right { 
    0% { left: 0% }
    100% { left: 100% }
}



@-webkit-keyframes fromTop { 
    0% { top: -30px; opacity: 0 }
    70% { opacity: 0.1 }
    100% { top: 0px; opacity: 1  }
}






@keyframes fromTop { 
    0% { top: -30px; opacity: 0 }
    70% { opacity: 0.1 }
    100% { top: 0px; opacity: 1  }
}





