main#main-content
    .row
        article.medium-8.text-animate.text-justify.medium-centered.columns
            h2.title  Sobre o Conselho
            
            p   
             | O Conselho da Juventude da Cidade é uma vida democrática de participação jovem dentro 
                da gestão municipal e tem caráter consultivo.
        
             p   
              | O Conselho da Juventude da Cidade é uma vida democrática de participação jovem dentro 
                da gestão municipal e tem caráter consultivo.
                
             p   
              | O Conselho da Juventude da Cidade é uma vida democrática de participação jovem dentro 
                da gestão municipal e tem caráter consultivo.
                
             p   
              | O Conselho da Juventude da Cidade é uma vida democrática de participação jovem dentro 
                da gestão municipal e tem caráter consultivo.
        
        section.medium-4.small-12.columns.xp-image.small-6
                .info-box
                    h2.title Conselheiros
                    p Conheça aqui todos os conselheiros e conselheiras da juventude da cidade
                .info-background
                    image src="http://lorempixel.com/2130/588/city/"